header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
    border-radius: 100px;


}body {
    background-color: purple;
}
img {
    margin: 20px;
    background-color: rgb(35, 3, 65);
    border-radius: 30px;
    margin: 1.0px;
    
}

:hover {
    text-align: center;
    background-color: rgb(63, 1, 63);
}